<div class="draw-history text-center py-5">
  <h2 class="dancingFont">History</h2>

  <swiper-container
    slides-per-view="2"
    space-between="12"
    speed="5000"
    autoplay="true"
    free-mode="true"
    loop="true"
   
    [autoplay]="autoplayConfig"
  >
    @for (food of foodService.foods(); track $index) {
    <swiper-slide>
      <a [routerLink]="['/foods', food.id]">
      <img
        [src]="`/images/${food.img}`"
        [alt]="food.name"
    /></a></swiper-slide>
    }
  </swiper-container>
</div>
