<div class="card position-relative">
  <img class="card-img-top" alt="today special" src="/images/steak.jpeg" />

  <div class="card-body">
    <h3 class="card-title text-center">西式牛排</h3>
    <hr class="opacity-75 w-75 mx-auto" />

    <app-prop
      title="水分"
      [selectdNum]="3"
      iconClass="fa-droplet wetProp"
    ></app-prop>

    <app-prop
      title="飽食度"
      [selectdNum]="3"
      iconClass="fa-pizza-slice meatProp"
    ></app-prop>

    <app-prop
      title="價錢"
      [selectdNum]="3"
      iconClass="fa-sack-dollar moneyProp"
    ></app-prop>
  </div>

  <app-fav [isFav]="true"></app-fav>
</div>
