.topbar {
  background-color: var(--dark-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting {
  color: var(--grey-color);
  font-size: 32px;
}