<main class="container">
  <!-- panels -->
  <div class="buttons-bar d-flex flex-column gap-4 mb-5">
    <div class="d-flex gap-4">
      <button class="btn btn-add">篩選</button>
      <button class="btn btn-add">排序</button>
    </div>

    <div class="input-group search-group d-flex w-100">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="this.foodService.searchKeyword"
        (ngModelChange)="foodService.search()"
      />

      @if (foodService.searchKeyword()) {
      <button class="btn-clear" type="button" (click)="foodService.searchKeyword.set('')">
        ✕
      </button>
      }

      <button class="btn btn-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <!-- food cards -->
  <div class="foods-cards row row-cols-2 justify-content-between gx-2 gy-3">
    @for (food of foodService.foods()| filterFoods :
    foodService.searchKeyword(); track $index) {
    <div class="col">
      <div class="dash-card card shadow-sm d-flex text-center">
        <app-toggle-btn [(isPicked)]="food.isPicked"></app-toggle-btn>
        <a [routerLink]="['/foods', food.id, 'edit']">
          <img
            class="card-img-top"
            [src]="`./images/${food.img}`"
            [alt]="food.name"
          />
          <div class="card-body">
            <h6 class="card-title">{{ food.name }}</h6>
          </div></a
        >
      </div>
    </div>
    }
  </div>
</main>

<app-nav></app-nav>
